name: Deploy Node.js project to Azure Function App
on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

env:
  AZURE_FUNCTIONAPP_NAME: vf-dte-cmc-github-action-test
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './azure/test-vf/server-fn'

jobs:
  build-and-deploy:
    name: Deploy Azure Function If Changes
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: technote-space/get-diff-action@v1
      id: git_diff
      with:
          PREFIX_FILTER: azure/test-vf/server-fn/

    - name: Setup Node 10.x Environment
      if: steps.git_diff.outputs.diff
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'

    - name: Resolve Project Dependencies Using Npm
      if: steps.git_diff.outputs.diff
      shell: bash
      run: |
        pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
        npm install
        npm run build --if-present
        npm run test --if-present
        npm run chill
        popd

    - name: Run Azure Functions Action
      if: steps.git_diff.outputs.diff
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
