name: Deploy Node.js project to Azure Function App
on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

env:
  AZURE_FUNCTIONAPP_NAME: vf-dte-cmc-github-action-test
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './azure/test-vf/server-fn'

jobs:
  checkChangesInDocs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Check changes in docs
      uses: netlify/actions/diff-includes@master
      with:
        # this can be one or many files/directories
        args: azure/test-vf/server-fn

  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: 'Checkout GitHub Action'
      needs: checkChangesInDocs
      uses: actions/checkout@master

    - name: Setup Node 10.x Environment
      uses: actions/setup-node@v1
      with:
        node-version: node-version: '10.x'

    - name: 'Resolve Project Dependencies Using Npm'
      shell: bash
      run: |
        pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
        npm install
        npm run build --if-present
        npm run test --if-present
        popd
    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
