name: Deploy Azure Function
on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

env:
  AZURE_FUNCTIONAPP_NAME: vf-dte-cmc-github-action-test
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './azure/test-vf/server-fn'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check for changes
      uses: technote-space/get-diff-action@v1
      id: git_diff
      with:
          PREFIX_FILTER: azure/test-vf/server-fn/

    - name: Run Azure Functions Action
      if: steps.git_diff.outputs.diff
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
