name: Deploy Azure Function
on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Private Repo
      uses: actions/checkout@v2

    - name: Check for changes
      uses: technote-space/get-diff-action@v1
      id: git_diff
      with:
          PREFIX_FILTER: azure/test-vf/test-function

    - name: Intall Azure CLI + Function Core Tools
      run: |
        curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

        wget -q https://packages.microsoft.com/config/ubuntu/19.04/packages-microsoft-prod.deb
        sudo dpkg -i packages-microsoft-prod.deb

        sudo apt-get update
        sudo apt-get install azure-functions-core-tools

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy Function
      run: |
        cd azure/test-vf/test-function
        npm run build
        func azure functionapp publish vf-dte-cmc-fndeployment-test